.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    /* font-size: 1em; */
    color: #818181;
    display: block;
}
.sidenav-field {
	padding: 6px 6px 6px 32px;
    text-decoration: none;
	/* font-size: 1em; */
	color: #5e5e5e;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  /* .sidenav a {font-size: 18px;} */
}
.ticket-bug {
	color: red;
	font-size: 2em;
	font-family: Helvetica;
	font-weight: bold;
}
.ticket-fieldname {
	font-size: 1.5em;
	color: #5e5e5e;
	padding: 5px;
	font-family: Helvetica;
	margin: 2px 0 5px 0;
}
a .glyphicon-edit {
	padding: 0 3px 0 3px;
	color: #337ab7;
}
